<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <select id="price-filter">
                <option value="all">All</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
            </select>
        </section>
        <div>
            <section id="places-list"></section>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% include 'footer.html' %}
</body>
</html>