<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section id="place-details">
            {% if place_data %}
            <div class="place-details">
                <h3 class="details-title">{{place_data.title}}</h3>
                <p class="place-info"><b>Description :</b><br>{{place_data.description}}</p>
                <p class="place-info"><b>Location (lat, lon) :</b> {{place_data.latitude}}, {{place_data.longitude}}</p>
                <p class="place-info"><b>Price per night :</b> {{place_data.price}}$</p>
                {% if place_data.amenities %}
                    <p class="place-info"><b>Amenitites :</b></p>
                    <p>{{ place_data.amenities | map(attribute='name') | join(', ') }}</p>
                {% else %}
                    <p class="place-info">No amenities</p>
                {% endif %}
                <div id="host-info">
                    <p class="place-info"><b>Book this place :</b></p>
                    <div id="host-box">
                        <p class="place-info"><b>Host :</b> {{place_data.owner.first_name}} {{place_data.owner.last_name}}</p>
                        <p class="place-info"><b>Contact :</b> {{place_data.owner.email}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
        <section id="reviews">
            <div>
                <h3>Reviews :</h3>
                {% if place_reviews %}
                    {% for review in place_reviews%}
                    <div class="review-card">
                        <p>{{review.user.first_name}} {{review.user.last_name}}</p>
                        <p>{{review.text}}</p>
                        <p>{{review.rating}} ★</p>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="review-card">
                    <p>No reviews for this place</p>
                </div>
                {% endif %}
            </div>
        </section>
        <section id="add-review">
            <a id="review-button" href="/add_review?id={{place_data.id}}">Add a Review</a>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% include 'footer.html' %}
</body>
</html>