/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: sticky;
    background-color: #2ab548;
    color: #fff;
    padding: 1rem;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.navbar-main {
    position: relative;
    text-align: center;
    bottom: 2.5rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.login-button {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 2;
}

.logo {
    position: relative;
    z-index: 2;
}

.place-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
