/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background-color: #4b9a45;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    display: inline-block;
    margin-right: 20px;
}

.navbar-main {
    position: relative;
    text-align: center;
    bottom: 2.5rem;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#login-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 2;
    padding: 1rem 2rem;
    color: #ddd;
    text-decoration: none;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #ddd;
}

#login-button:hover {
    background-color: #ddd;
    color: #333;
    border: 2px solid #333;
    transition-duration: 300ms;
}

#logout-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 2;
    padding: 1rem 2rem;
    color: #ddd;
    text-decoration: none;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #ddd;
}

#logout-button:hover {
    background-color: #ddd;
    color: #333;
    border: 2px solid #333;
    transition-duration: 300ms;
}

#add-review a {
    position: relative;
    text-decoration: none;
    font-size: medium;
    top: 0.8rem;
    padding: 0.5rem 5rem;
    margin: 1rem 1rem;
    color:#ddd;
    text-decoration: none;
    background-color:#333;
    border-radius: 10px;
    border: 2px solid #ddd;
    transition-duration: 150ms;
}

#add-review a:hover {
    box-shadow: 0 5px 5px #ddd;
    transition: 150ms;
}

.view-details-button {
    display: block;
    font-size: medium;
    top: 0.8rem;
    padding: 0.5rem 5rem;
    margin: 0.5rem;
    color:#333;
    text-decoration: none;
    background-color:#f4f4f4;
    border-radius: 10px;
    border: 2px solid #ddd;
    transition-duration: 150ms;
}

.view-details-button:hover {
    box-shadow: 0 5px 5px #ddd;
    transition: 150ms;
}

.logo {
    position: relative;
    z-index: 2;
}

.place-card {
    text-align: center;
    margin: 20px;
    padding: 10px;
    padding-top: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.place-title {
    margin-bottom: 2rem;
}

#places-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 2px;
    justify-content: center;
}

.place-details {
    margin: 20px 50px;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.place-info {
    margin-top: 0.5rem;
}

#host-info {
    margin-top: 2rem;
}

#host-box {
    background-color: #333;
    color: #ddd;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 8px;
    margin-top: 0.5rem;
}

.details-title {
    text-align: center;
    margin-bottom: 1rem;
}

.review-card {
    text-align: left;
    width: 350px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.login-message {
    padding: 1rem;
    padding-top: 2rem;
    color:crimson;
}

#review-form {
    text-align: center;
    justify-content: center;
}

#review {
    margin: 0.5rem;
    width: 50%;
    height: 15rem;
    font-size: 18px;
    border: 2px solid #333;
}

.review {
    margin-bottom: 2rem;
}

#rating {
    margin: 5px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 3rem;
    height: 1.5rem;
    border: 2px solid #333;
}

.review-button {
    padding: 1rem 2rem;
    color: #ddd;
    text-decoration: none;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    transition: 150ms;
}

.review-button:hover {
    box-shadow: 0 5px 5px #ddd;
    transition: 150ms;
}

#login-form {
    width: 400px;
    text-align: center;
    margin: 2rem auto;
    border: 5px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
}

#login-form h2 {
    margin-bottom: 2rem;
}

.password-group {
    margin: 2rem;
}

#email {
    font-size: 20px;
    margin: 0.5rem;
}

#password {
    font-size: 20px;
    margin: 0.5rem;
}

.login-button {
    padding: 1rem 2rem;
    color: #ddd;
    text-decoration: none;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    transition: 150ms; 
}
